@model MVCSTEP.ViewModels.PublicationViewModel
@{
 ViewBag.Title = "Добавление публикации";
}
<link href="~/css/forala/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>
<script src="~/js/forala/froala_editor.pkgd.min.js" type="text/javascript"></script>

<div class="container px-4 py-5" id="hanging-icons">
 <h2 class="pb-2 border-bottom">Добавление публикации</h2>
 <a asp-controller="Home" asp-action="Index">Главная</a> / <a asp-controller="Content" asp-action="Index">Управление
  материалом</a>
 <div class="row g-4 py-5 row-cols-1">
  <div class="p-5 mb-4 bg-light rounded-3 ">
   <form asp-controller="Content" asp-action="CreatePublication" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
     <label asp-for="Title" class="control-label">Заголовок</label>
     <input type="text" asp-for="Title" class="form-control"/>
    </div>
    <div class="form-group">
     <label asp-for="Description" class="control-label">Содержимое</label>
     <textarea asp-for="Description" id="myEditor" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
     <label asp-for="File" class="control-label">Изображение</label>
     <input type="file" class="form-control" asp-for="File" accept="image/*"/>
    </div>

    <hr class="featurette-divider">

    <div class="form-group">
     <label asp-for="SelectListCategories" class="control-label">Категории</label>
     <span class="input-icon">
   <input type="text" placeholder="Поиск" id="colsearch2" class="form-control colsearch" onkeyup="sortCols2()">
   <i class="fa fa-search"></i>
  </span>
     <div class="col-sm-12">Выбранные</div>
     <ul id="col-active2" class="media-list overflow-auto ulr">
      @foreach (var category in Model.SelectListCategories.Where(e => e.Selected == true))
      {
       <li>
        <div class="checkbox sidebar-content list-group-item d-flex justify-content-between lh-condensed">
         <label>
          <input id="@category.Value" type="checkbox" name="Categories" value="@category.Value"
                 checked="@category.Selected" class="green">
          @category.Text
         </label>
        </div>
       </li>
      }
     </ul>
     <div class="col-sm-12">Не выбранные</div>
     <ul id="col-inactive2" class="media-list overflow-auto ulr">
      @foreach (var category in Model.SelectListCategories.Where(e => e.Selected == false))
      {
       <li>
        <div class="checkbox sidebar-content list-group-item d-flex justify-content-between lh-condensed">
         <label>
          <input id="@category.Value" type="checkbox" name="Categories" value="@category.Value"
                 checked="@category.Selected" class="green">
          @category.Text
         </label>
        </div>
       </li>
      }
     </ul>
    </div>

    <hr class="featurette-divider">

    <div class="form-group">
     <label asp-for="SeoDescription" class="control-label">Seo описание</label>
     <textarea asp-for="SeoDescription" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
     <label asp-for="Keywords" class="control-label">Ключевые слова</label>
     <input type="text" asp-for="Keywords" class="form-control"/>
    </div>
    <br/>
    <div class="form-group">
     @Html.AntiForgeryToken()
     <input type="submit" value="Добавить" class="btn btn-primary"/>
    </div>
   </form>
  </div>
 </div>
</div>

@*Для валидации модели на клиенте*@

@section Scripts{
 <script>
  new FroalaEditor('#myEditor', {
   // Set custom buttons.
   toolbarButtons: [['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript'], ['fontFamily', 'fontSize', 'textColor', 'backgroundColor'], ['inlineClass', 'inlineStyle', 'clearFormatting']]
  })
 </script>
 @*Подключаем скрипт для поиска и фильтрации категорий*@
 <script src="~/lib/jquery/dist/jquery.min.js"></script>

 @*Код для поиска и фильтрации категорий*@
 <script src="~/js/category.js"></script>

 @await Html.PartialAsync("_ValidationScriptsPartial")
 
}
