@model Book
<div id="book-page">
    <img src="@Model.PicturePath"/>
    <h2>@Model.Title</h2>
    <h5>@Model.Author</h5>
</div>
<p>@Model.Description</p>

<vc:comments book="@Model"></vc:comments>
@{
    Comment comment = new Comment();
}

<form action="GetBook" method="post" style="display: flex; flex-direction: column;">
    <b>Leave your comment</b>
    <input asp-for="@comment.BookId" value="@Model.Id" type="hidden"/>
    <label asp-for="@comment.Name">Your Name</label>
    <input asp-for="@comment.Name" />
    <label asp-for="@comment.Description">Description</label>
    <textarea asp-for="@comment.Description"></textarea>
    <input type="submit"/>
</form>
