@model List<Employee>

@{
    ViewData["Title"] = "Home Page";
}

<form  method="post">
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Salary</td>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <th>
                    <input type="hidden" name="employees[@Model.IndexOf(employee)].Id" value="@employee.Id" />
                    <p>@employee.Id</p>
                </th>
                <th>
                    <input type="hidden" name="employees[@Model.IndexOf(employee)].Name" value="@employee.Name" />
                    <p>@employee.Name</p>
                </th>
                <th><input type="number" name="employees[@Model.IndexOf(employee)].Salary" value="@employee.Salary" /></th>
            </tr>
        }
    </table>
    <input type="submit" />
</form>