@model MVCSTEP.ViewModels.UserViewModel

<p>@Model.Name</p>
<p>@Model.Email</p>

@if (Model.Name != User.Identity.Name)
{
    <form asp-action="AddToFriend" method="post">
        <input name="id" type="hidden" value="@Model.Id" />
        <input type="submit" value="Add To Friend"/>
    </form>
}else {
    <a asp-action="AllFriendRequests">Requests</a>
}

@foreach (var friend in Model.Friends)
{
    <a asp-action="GetProfile" asp-route-id="@friend.Id">@friend.UserName</a>
}