@model MVCSTEP.ViewModels.GetPublicationViewModel

@{
    ViewBag.Title = Model.Publication.Title;
    ViewBag.Description = Model.Publication.SeoDescription;
    ViewBag.Keywords = Model.Publication.Keywords;
}

<div class="p-4 p-md-5 mb-4 text-white rounded" style="background-image: linear-gradient( to bottom, rgba(0, 0, 255, 0.5), rgb(162 162 0 / 50%) )">
    <div class="col-md-12 px-0">
        <h1 class="display-4 fst-italic">@Model.Publication.Title</h1>
    </div>
    <div class="small mb-1">
        <a href="@(Model.ReturnUrl ??= Url.Action(action: "Index", controller: "Home",
                     values: null, protocol: "https"))">« Вернутся назад</a>
    </div>
</div><div class="row g-5">
<div class="col-md-8">
    <p class="fst-italic">
        <a href="@Url.Action(action: "Index", controller: "Home", values: null, protocol: "https")">Главная</a>
        « @Model.Publication.Title
    </p>
    <p class="pb-4 mb-4 fst-italic border-bottom">
        Категории:
        @foreach (Category category in Model.Publication.Categories)
        {
            <a href="@Url.Action(action: "Index", controller: "Home", values: new { categoryId = category.Id }, protocol: "https")">@category.Name</a>
        }
    </p>
    <img src="@Model.Publication.Image" class="img-fluid" alt="Responsive image">
    <article class="blog-post">
        @Html.Raw(Model.Publication.Description)
    </article>
    @await Component.InvokeAsync("RelatedPublications", new { id = Model.Publication.Id.ToString()})
</div>

<div class="col-md-4">
<div class="position-sticky" style="top: 2rem;">
<div class="p-4 mb-3 bg-light rounded">
<p class="mb-0">Дата публикации: <b>@Model.Publication.CreatedAt.ToShortDateString()</b></p>
<p class="mb-0">
    Всего просмотров:
    <b>@Model.Publication.TotalViews</b>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
    </svg>
</p>
<p class="mb-0">
    <br />
    Авторское право – это юридический термин, используемый для описания прав, которыми
    обладают авторы на свои литературные и художественные произведения.
</p>
</div>

<div class="p-4">
<h4 class="fst-italic">Архивы</h4>
<ol class="list-unstyled mb-0">
<li><a href="#">Март 2022</a></li> <li><a href="#">Февраль 2022</a></li>
<li><a href="#">Январь 2022</a></li>
<li><a href="#">Декабрь 2022</a></li>
</ol>
</div>

<div class="p-4 mb-3 bg-light rounded">
    <h4 class="fst-italic">Рекламный блок</h4>
    <p class="mb-0">
        Этот рекламный слоган создали в 1997 году в ответ на девиз «Think» прямого конкурента Apple — IBM.
        По данным Forbes, через год после запуска слогана «Think Different» акции компании выросли втрое,
        хотя новых значимых продуктов она не выпускала.
    </p>
</div>

<div class="p-4">
    <h4 class="fst-italic">Мои сети</h4>
    <ol class="list-unstyled">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
    </ol>
</div>

</div>
</div>
</div>