@model User

@{
    ViewData["Title"] = "Home Page";
    var bagUser = ViewBag.User as User;
    var dataUser = ViewData["user"] as User;
}

<h1>Model</h1>    
<p>Name: @Model.Name Age: @Model.Age</p>

<h1>ViewBag</h1>
<p>Name: @bagUser.Name Age: @bagUser.Age</p>

<h1>ViewData</h1>
<p>Name: @dataUser.Name Age: @dataUser.Age</p>
